body{
    background-color: antiquewhite;
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box{
    height: 100vh;
    width: 300px;
    background-color: #090040;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
}
.image{
    width: 280px;
    height: 60vh;
    margin-top: 10px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.but{
    background-color: #211C84;
    height: 50px;
    width: 125px;
    border-radius: 20px;
    text-align: center;
    align-content: center;
    color: #FFCC00;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.di{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
